# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AlmondShell/examples/Example_Dll1/intermediate/
AlmondShell/examples/Example_StaticLib1/intermediate/ 
AlmondShell/examples/Example_WindowsProject1/intermediate/ 
AlmondShell/examples/Example_ConsoleApplication/intermediate/ 
AlmondShell/examples/Example_Android_StaticLibrary1/x64/
AlmondShell/examples/Example_CMake_Project1/obj/x64/
AlmondShell/examples/Example_Mod_Dll1/intermediate/
AlmondShell/examples/bin/
AlmondShell/src/glm/
AlmondShell/src/SDL3/
AlmondShell/src/glad.zip
vcpkg_installed/
build/
.vs/
*.dat
*.log




backup/

AlmondShell/examples/Example_ConsoleApplication/default_log.txt
